<a href="https://colab.research.google.com/github/viniciusbeckerdesouza/python_programs/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
# Spark SQL
!pip install pyspark[sql]
# pandas API on Spark
!pip install pyspark[pandas_on_spark] plotly

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

my_df = spark.createDataFrame([
    Row(Id=1, Qtd=2., Nome='string1', Data=date(2000, 1, 1), Hora=datetime(2000, 1, 1, 12, 0)),
    Row(Id=2, Qtd=3., Nome='string2', Data=date(2000, 2, 1), Hora=datetime(2000, 1, 2, 12, 0)),
    Row(Id=4, Qtd=5., Nome='string3', Data=date(2000, 3, 1), Hora=datetime(2000, 1, 3, 12, 0))
])
my_df

DataFrame[Id: bigint, Qtd: double, Nome: string, Data: date, Hora: timestamp]

In [ ]:
my_df.show()

+---+---+-------+----------+-------------------+
| Id|Qtd|   Nome|      Data|               Hora|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df = spark.createDataFrame([
                            (1, 2., 'ana', date(2020, 1, 2), datetime(2020, 1, 1, 12, 0))
], schema='id int, qtd double, name string, data date, hora timestamp')
df

DataFrame[id: int, qtd: double, name: string, data: date, hora: timestamp]

In [ ]:
df.show()

+---+---+----+----------+-------------------+
| id|qtd|name|      data|               hora|
+---+---+----+----------+-------------------+
|  1|2.0| ana|2020-01-02|2020-01-01 12:00:00|
+---+---+----+----------+-------------------+

In [ ]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [ ]:
my_df.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Qtd: double (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Data: date (nullable = true)
 |-- Hora: timestamp (nullable = true)

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
my_df

DataFrame[Id: bigint, Qtd: double, Nome: string, Data: date, Hora: timestamp]

In [ ]:
my_df.show(1, vertical=True)

-RECORD 0-------------------
 Id   | 1
 Qtd  | 2.0
 Nome | string1
 Data | 2000-01-01
 Hora | 2000-01-01 12:00:00
only showing top 1 row

In [ ]:
my_df.select("Qtd").describe().show()

+-------+------------------+
|summary|               Qtd|
+-------+------------------+
|  count|                 3|
|   mean|3.3333333333333335|
| stddev|1.5275252316519465|
|    min|               2.0|
|    max|               5.0|
+-------+------------------+

In [ ]:
my_df.select("Nome").describe().show()

+-------+-------+
|summary|   Nome|
+-------+-------+
|  count|      3|
|   mean|   null|
| stddev|   null|
|    min|string1|
|    max|string3|
+-------+-------+

In [ ]:
df.toPandas()

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2  3  4.0  string3  2000-03-01 2000-01-03 12:00:00

In [ ]:
my_df.toPandas()

   Id  Qtd     Nome        Data                Hora
0   1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1   2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2   4  5.0  string3  2000-03-01 2000-01-03 12:00:00